table {
  width:100%;
  table-layout:fixed;
}

#flash {
  font-weight:bold;
}

#main > div {
  margin-bottom:1em;
}

#nav, #flash {
  padding:.5em;
}

#main {
  padding:.5em;
}

table thead th {
 font-size :small;
}

table td.ui-state-hover, table td.ui-widget, table td.ui-widget-content {
  font-weight: normal;
  font-size:small;
}
