
table {
  width:100%;
}

.flash {
  width:80%;
  float:left;
}

thead th {
  border-style:solid;
  border-width: 0em 0em 1px .05em;
  text-align:center;
  width:5%;
}
    
thead th:nth-child(2) {
  text-align:left;
  padding-left: .08em;
  width:69%;
}

tbody tr:nth-child(odd) {
 background-color: #F2F2F1;
}

tbody tr:hover {
  background-color: #FFFF99;  
}

tbody td {
  text-align:right;
  padding-right:.32em;
  border-left-style:solid;
  border-left-width:.05em;
}

tbody tr td:first-child {
  text-align:center;
  border-right-width: 1px;
}

tbody tr td:nth-child(2) {
  text-align:left;
  padding-left:.32em;
}

tbody tr td:nth-child(3) {

}

.heading {
  width:15%;
  float:right;
  text-align:right;
  padding-right:.5em;
  font-size:2em;
  font:Arial;
}

.highlighted > td {
  border-top-style:solid;
  border-bottom-style:solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  background-color:#FFFF99;
}

form > div {
  padding-bottom:1em;
  padding-top:.5em;
}

form > div:last-child {

}

form button {
  width:7em;
}

form input[type='text'] {
  width:15em;
}


